@using CheckPoint.Models;
@{

    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<section>
    <h2>Editar/Excluir</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Gênero</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col">Permissão</th>
                <th scope="col">Email</th>
                <th scope="col">Senha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in ViewData["usuariosList"] as List<Usuario>)
            {
                <tr>
                    <td>@usuario.ID</td>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Genero</td>
                    <td>@usuario.DataNascimento</td>
                    <td>@usuario.Endereco</td>
                    <td>@usuario.Telefone</td>
                    <td>@usuario.Permissao</td>
                    <td>@usuario.Email</td>
                    <td>@usuario.Senha</td>
                    <td><a href="/Dashboard/EditarUsuario?id=@usuario.ID">Editar</a> | <a href="/Dashboard/ExcluirUsuario?id=@usuario.ID">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>